body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

footer {
    text-align: center;
}


section {
    margin  : 30px;
}

h2 {
    color: #333;
}

/* Optional: Add more styling as per your design preferences */

