*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(./image/back3.png);
    background-size: 100% 740px;
}
.contain{
    width: 300px;
    height: 400px;
    background-color: white;
    margin-left: 36%;
    margin-top: 6%;
    text-align: center;
    color: rgb(2, 2, 2);
    border-radius: 10px;
    width: 30%;
    height: 400px;
    object-fit: cover; 
    margin-bottom: 70;
   
}
.contain .text{
    position: relative;
    top: 7%;
    border-color: aqua;
}
.inp1{
      border: none;
      background-color: white;
      border-bottom: 3px solid black;
      width: 250px;
      font-size: 20px;
      margin-top: 40px;
      outline: none;
      color: rgba(12, 8, 8, 0.788);
}
.inp2{
    border: none;
    background-color:white;
    border-bottom: 2px solid black;
    width: 250px;
    font-size: 20px;
    margin-top: 40px;
    outline: none;
    color: black;
}

 .text button{
    width: 250px;
    height: 44px;
    background-color: aqua;
    color: black;
    border: none;
    font-size: 22px;
    border-radius: 25px;
    margin-top: 20px;
 }
 button:hover{
    border: 30x solid aqua;
    color: white;
    font-size: 20px;
    background-color: black;
 }
 p{
    margin-top: 30px;
    font-size: 20px;

}

p span{
    color: rgb(0, 174, 255);
    cursor: pointer;
 }