/* body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2em;
    color: #333;
}

header p {
    font-size: 1.2em;
    color: #555;
} */
.logoimg{
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
}
.logoimg img{
    width: 100%;
    border-radius: 100%;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
}

section {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.5em;
    color: #333;
}

section p {
    font-size: 1.1em;
    color: #555;
}

.key-features ul {
    list-style-type: none;
    padding: 0;
}

.key-features li {
    margin-bottom: 10px;
}

.system-overview p {
    margin-top: 10px;
}

.step-by-step ol {
    list-style-type: decimal;
    padding-left: 20px;
    margin-top: 10px;
}

.step-by-step li {
    margin-bottom: 10px;
}

cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #777;
}

